* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


[data-ripple] {
    position: relative;
    overflow: hidden;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading__text {
    font-size: 130px;
    color: #F6F6F6;
}

.heading__subtext {
    font-size: 30px;
}



.ripple-effect {
    position: absolute;
    border-radius: 9999px;
    animation: ripple-animation 2s;
}



.aks-accordion {
    width: 80%;
    margin: 0 auto;
}


.aks-accordion-item {
    width: 100%;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.aks-accordion-item-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aks-accordion-item-icon {
    width: 70px;
    height: 70px;
    border: 1px solid #E41579;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    text-align: center;
}

.aks-accordion-item-icon span {
    font-size: 50px;
    color: #E41579;
}

.aks-accordion-item-icon span:hover {
    text-shadow: 1px 1px 10px black;
}


.aks-accordion-item-title {
    width: 90%;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.aks-accordion-item-title h4 {
    font-weight: bold;
    font-size: 16px;
}

.aks-accordion-item-content {
    display: none;
    width: 100%;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 80px;
    overflow: hidden;
    word-break: break-word;
    width: 100%;
    text-align: left;
    line-height: 1.5;
}

.aks-accordion-item.opened .aks-accordion-item-icon-open {
    display: none;
}

.aks-accordion-item-icon-close {
    display: none;
}

.aks-accordion-item.opened .aks-accordion-item-icon-close {
    display: block;
}

.container {
    display: flex;
}

.image {
    flex: 50%;
}